<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   version="2.5">
   
   
   
	<display-name>ngsprojects</display-name>
	<description>ngsprojects</description>
	
	
   <listener>
  	<listener-class>com.github.lindenb.ngsproject.NGProjectCtxListener</listener-class>
  </listener>
	<context-param>   
	   <param-name>jdbc.driver</param-name>
	   <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
	</context-param>
	<context-param>   
	   <param-name>jdbc.uri</param-name>
	   <param-value>jdbc:derby://localhost:1527/ngsdb;user=admin;password=adminadmin;create=false</param-value>
	</context-param>
	
	
	 <filter>
	    <filter-name>defaultfilter</filter-name>
	    <filter-class>com.github.lindenb.ngsproject.NGSProjectFilter</filter-class>
	</filter>
	<filter-mapping> 
	    <filter-name>defaultfilter</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>


	<!-- This servlet must be loaded first to configure the log4j
	 system and create the WebApplicationContext
	 -->
	<servlet>
		<servlet-name>main</servlet-name>
		<servlet-class>com.github.lindenb.ngsproject.NGSProjectController</servlet-class>
		<load-on-startup>1</load-on-startup>
	  </servlet>
  
 
  <servlet-mapping>
	<servlet-name>main</servlet-name>
	<url-pattern>/ngsprojects/*</url-pattern>
  </servlet-mapping>
  
  
<servlet>
	<servlet-name>samtoolsview</servlet-name>
	<servlet-class>com.github.lindenb.ngsproject.SAMViewServlet</servlet-class>
	<load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
	<servlet-name>samtoolsview</servlet-name>
	<url-pattern>/samtoolsview/*</url-pattern>
  </servlet-mapping>  
  

  
<servlet>
	<servlet-name>vcfview</servlet-name>
	<servlet-class>com.github.lindenb.ngsproject.VCFViewServlet</servlet-class>
	<load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
	<servlet-name>vcfview</servlet-name>
	<url-pattern>/vcfview/*</url-pattern>
  </servlet-mapping>  

</web-app>